<footer>
    <div class="container">
        <div class="footer-content">
            <a href="https://jhproyectos.github.io/index.html" class="logo-link">
                <img src="https://jhproyectos.github.io/images/logo.png" alt="JH Proyectos" class="logo" style="height: 40px;">
            </a>
            
            <ul class="footer-links">
                <li>
                    <a href="https://jhproyectos.github.io/pages/about.html" class="footer-link" data-lang-key="footer-about">Acerca de</a>
                </li>
                <li>
                    <a href="https://jhproyectos.github.io/pages/services.html" class="footer-link" data-lang-key="footer-services">Servicios</a>
                </li>
                <li>
                    <a href="https://jhproyectos.github.io/pages/contact.html" class="footer-link" data-lang-key="footer-contact">Contacto</a>
                </li>
            </ul>
        </div>
        
        <div class="copyright" data-lang-key="footer-copyright">© 2025 JH Proyectos - Todos los derechos reservados.</div>
    </div>
</footer>
