<header>
    <div class="container header-container">
        <a href="/index.html" class="logo-link">
            <img src="images/logo.jpg" alt="JH Proyectos" class="logo">
        </a>
        
        <button class="mobile-menu-button" aria-label="Menú">☰</button>
        
        <nav>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="index.html" class="nav-link" data-lang-key="nav-home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link" data-lang-key="nav-about">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a href="pages/services.html" class="nav-link" data-lang-key="nav-services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a href="pages/contact.html" class="nav-link" data-lang-key="nav-contact">Contacto</a>
                </li>
                <li class="language-selector">
                    <button class="lang-button" data-lang="es">ES</button>
                    <span>|</span>
                    <button class="lang-button" data-lang="en">EN</button>
                </li>
            </ul>
        </nav>
    </div>
</header>

